:root {
  --color-black: #222831;
  --color-white: #fafafa;

  --color-favor: #54e346;
  --color-against: #ec524b;
  --color-neutral: #e8eae6;

  --color-bullet: #var(--color-black);

  --color-body-background: #1f4068;
  --color-link: var(--color-body-background);

  --color-button: var(--color-against);
  --color-button-hover: #b94d48;

  --item-width: 1.3em;
}
