.filter {
  position: relative;
}

.menu[data-reach-menu-list],
.menu[data-reach-menu-items] {
  animation: slide-down 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 1px;
  padding: 0;
}

.button {
  align-items: center;
  appearance: none;
  background: var(--color-link);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  color: var(--color-neutral);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 8px;
  text-align: left;
}

.button > span:first-child {
  align-items: center;
  display: flex;
  flex: 2;
}

.clear {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 17px;
  justify-content: center;
  margin-left: 0.5em;
  position: absolute;
  right: 30px;
  top: 13px;
  width: 17px;
  z-index: 3;
}

.clear svg {
  transform: scale(1.4);
  transition: fill 0.2s;
}

.clear:hover svg path {
  fill: var(--color-white);
}

.button,
.menu {
  font-size: 14px;
  width: 180px;
}

.menu {
  max-height: 70vh;
  overflow-y: auto;
}

.item {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  color: var(--color-black);
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 16px;
}

.item:last-child {
  border-bottom: 0;
}

.item[data-selected] {
  background-color: rgb(0, 0, 0, 0.1);
  color: var(--color-black);
}

.arrow {
  display: block;
  transition: transform 0.2s ease;
}

.arrow.expanded {
  transform: rotate(-180deg);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
