:root {
  --color-black: #222831;
  --color-white: #fafafa;

  --color-favor: #54e346;
  --color-against: #ec524b;
  --color-neutral: #e8eae6;

  --color-bullet: #var(--color-black);

  --color-body-background: #1f4068;

  --item-width: 1.3em;
}

html,
body {
  height: 100%;
  background: var(--color-body-background);
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--color-white);
}

.root {
  padding: 1em 1em 100px 1em;
}

.root::after {
  content: "";
  flex: auto;
}

.header,
.info ul {
  align-items: center;
  display: flex;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  margin: 0 0 2em;
  padding: 0 0 1em;
}

.title {
  font-size: 1.3em;
  margin: 0;
}

.info {
  margin-left: 1em;
}

.info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info li {
  margin-right: 2em;
}

.info li:last-child {
  margin-right: 0;
}

.info li h2 {
  font-size: 1em;
  margin: 0;
  opacity: 0.6;
}

.items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}

.item {
  position: relative;
  height: var(--item-width);
  width: var(--item-width);
  font-size: 1.5em;
  margin: 2px;
  overflow: hidden;
  text-align: center;
  flex: 0 0 1;
}

.item span {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.item.favor span {
  background: var(--color-favor);
}

.item.against span {
  background: var(--color-against);
}

.item.neutral span {
  background-color: var(--color-neutral);
}

.count {
  align-items: center;
  display: flex;
  line-height: 1;
}

.count span {
  display: block;
  font-size: 2em;
  margin-right: 0.2em;
  transform: translateY(-2px);
}

.favor .count span {
  color: var(--color-favor);
}

.against .count span {
  color: var(--color-against);
}

.neutral .count span {
  color: var(--color-neutral);
}
