@import "../../styles/variables.css";

:global(.tippy-box) {
  border-radius: 0 !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  min-width: 460px;
  max-width: 100vw;
}

.root {
  padding: 0.5em;
}

.header {
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
}

.header h3 {
  margin: 0;
  padding: 0.5em 0;
}

.button {
  background-color: var(--color-button);
  box-shadow: inset 0 -3px 0 var(--color-button-hover);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0.7em;
  text-decoration: none;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.favor h3 {
  border-bottom-color: var(--color-favor);
}

.against h3 {
  border-bottom-color: var(--color-against);
}

.neutral h3 {
  border-bottom-color: var(--color-neutral);
}

.favor h3::after {
  content: " 👍";
}

.against h3::after {
  content: " 👎";
}

.neutral h3::after {
  content: " 🤷";
}

.root ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

.root li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0.5em 0;
}

.root li:last-child {
  border-bottom: 0;
}

.root li a {
  color: var(--color-link);
}
